body {
	padding-top: 50px;
	background: #E4E4E4;
}

/*
 * Global add-ons
 */
@font-face {
	font-family: Exo;
	src: url(../css/Exo-Bold.otf);
}

label.control-label.col-sm-4 {
	font-size: 0.85em;
}

.comy_logo {
	width: 112px;
	height: 88px;
	display: inline !important;
	margin-top: -8px;
	background-color: rgb(255, 255, 255);
	padding: 9px;
	border-radius: 8px;
}
img.img_pro {
    width: 102px;
    height: 120px;
    min-width: 103px;
    max-height: 104px;
}
.comy_name {
	padding-left: 10px;
	font-weight: 600;
}

.main-header {
	margin-top: 50px;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
	background: #015D85; /* Old browsers */
	background: -moz-linear-gradient(top, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 0%
		, #015D85 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #015D85 0%, #015D85 0%, #015D85 0%, #015D85
		0%, #015D85 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #015D85 0%, #015D85 0%, #015D85 0%, #015D85
		0%, #015D85 50%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #015D85',
		endColorstr=' #015D85', GradientType=0); /* IE6-9 */
}

.header_main {
	height: 80px;
}

.nav_height {
	margin-top: 30px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.dropdown-menu li a:hover {
	background-color: #337ab7 !important;
	color: #fff;
}

.navbar-inverse {
	background-color: #167397;
	border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	letter-spacing: 2px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

.add_emp {
	background: white;
	padding: 8px 5px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
	margin-top: 36px;
}

.add_emp_details {
	margin-top: 40px;
	background: #fff;
	padding: 8px 26px;
	border: 1px solid #BFBFBF;
	border-radius: 5px;
}

.modal-header, h4, .close {
	color: #646464 !important;
	font-size: 18px;
	font-family: 'Exo', sans-serif !important;
	letter-spacing: 1px;
	padding: 0px 0px;
	margin-top: 21px;
}

.modal-footer {
	background-color: #1FA7DB;
}

.upload-button {
	padding: 4px 7px;
	border: 1px solid #0099CC;
	border-radius: 4px;
	display: block;
	float: left;
	background-color: #66CCFF;
	color: #fff;
	cursor: pointer;
	margin-top: 2px;
}
.modal-header.login_modal_header {
    padding: 6px 29px;
}
.profile-pic {
	max-width: 200px;
	max-height: 200px;
	width: 110px;
	display: block;
	height: 120px;
	border: 3px solid #969595;
	padding: 4px;
}

.file-upload {
	display: none !important;
}

.control-label {
	text-align: left !important;
}

.Emp_content {
	background: #fff;
	padding: 8px 23px;
	border: 1px solid #BFBFBF;
}

.add_emp_details_form {
	margin-top: 26px;
}

/*
 * Sidebar
 */
.sidebar ul li a {
	color: #E7E7E7;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.5px;
}

.fa {
	width: 16px;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #0b5173;
}
/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 86px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #167397;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #0b5173;
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	background: linear-gradient(#0b5173, #0b5173), #0b5173;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16)
		0 1px 0;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus,
	.navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #105169;
}

img.img-responsive.comy_mascot.hidden-xs {
	height: 81px;
	width: 289px;
	position: static;
	max-width: 50px;
    max-height: 50px;
}

/*
 * Main content
 */
.main {
	padding: 10px 20px 0;
	margin-top: 9px;
}

@media ( max-width : 768px) {
	.comy_logo {
		width: 0px;
		height: 0px;
		display: none !important;
	}
	.comy_name {
		padding-left: 0px;
		font-weight: 600;
	}
	.header_main {
		height: 0px;
	}
}

@media ( max-width : 1026px) {
	.nav_height {
		margin-top: 0px;
	}
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.glyphicon-bell {
	font-size: 1.5rem;
}

.notifications {
	min-width: 330px;
}

.notifications-wrapper {
	overflow: auto;
	max-height: 250px;
}

.menu-title {
	color: #ff7788;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.glyphicon-circle-arrow-right {
	margin-left: 10px;
}

.notification-heading, .notification-footer {
	padding: 2px 10px;
}

.dropdown-menu.divider {
	margin: 5px 0;
}

.item-title {
	font-size: 1.3rem;
	color: #000;
}

.notifications a.content {
	text-decoration: none;
	background: #ccc;
}

.notification-item {
	padding: 10px;
	margin: 5px;
	background: #ccc;
	border-radius: 4px;
}

span.badge {
	position: absolute;
	top: -9px;
	left: 6px;
	font-size: 10px;
	color: white;
	background: red;
}

.notification-item h4 {
	margin-top: 6px !important;
	margin-bottom: 9px !important;
}

.scroll {
	height: 188px;
	overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
	width: 12px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-box-shadow: 4px 0px 0px 0px #28a7d8;
}