
body {
	background: url(../images/bg4.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	}
#section2 {
	padding-top:50px;
	height:643px;
}
@font-face {
    font-family: Exo;
    src: url(../css/Exo-Bold.otf);
}
table.table.table-bordered.table-inverse {
    border-left: 13px solid;
}
.header {
    margin-bottom: 37px;
}
.header h3 {
    text-align: center !important;
    font-size: 32px;
    color: #fff !important;
	font-family: 'Exo', sans-serif;
	letter-spacing: 2px;
}
.img-logo{
	height:50px;
	width:70px;
	display: inline !important;
}

/* login page css */

img.img-responsive.logo_img {
    width: 134px;
}
.logo {
    margin-top: 25%;
}
.logo h3{
	font-family: 'Exo', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}
.side2{
	margin-top:14%;
}
.panel-default>.panel-heading {
    color: #FFF !important;
    background-color: #167397 !important;
    border-color: #1FA7DB !important;
}
.btn-success {
    color: #fff;
    background-color: #1FA7DB !important;
    border-color: #1FA7DB !important;
}
.panel-body {
    border: 1px solid #1FA7DB !important;
    margin-top: -2px;
}
.login-panel.panel.panel-default {
    width: 70%;
    margin: 0px auto;
    position: absolute;
    top: 154%;
}
.login-panel {
    margin-top: ;
}
.panel-default {
    border-color: #ddd;
}
.forgot{
	position: absolute;
    right: 0px;
}
@media only screen 
and (min-width : 400px) 
and (max-width : 600px) {
	.forgot{
	position: absolute;
    right: 1px;
    font-size: 10px;
    top: 4px;
}
}