@charset "utf-8";

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #015D85;
    background: -moz-linear-gradient(top, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 50%);
    background: -webkit-linear-gradient(top, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 50%);
    background: linear-gradient(to bottom, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 0%, #015D85 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #015D85', endColorstr=' #015D85',GradientType=0 );
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.monthly-header {
    background: #337ab7;
}
.monthly-day-title-wrap {
    background: #0f528c;
}

.sidebar {
    background-color: #167397;
    border-right: 1px solid #eee;
}