@charset "utf-8";

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #008000;
    background: -moz-linear-gradient(top, #008000 0%, #008000 0%, #008000 0%, #008000 0%, #008000 50%);
    background: -webkit-linear-gradient(top, #008000 0%, #008000 0%, #008000 0%, #008000 0%, #008000 50%);
    background: linear-gradient(to bottom, #008000 0%, #008000 0%, #008000 0%, #008000 0%, #008000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #008000', endColorstr=' #008000',GradientType=0 );
}
.btn-primary {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}
.monthly-header {
    background: #008000;
}
.monthly-day-title-wrap {
    background: #008000;
}

.sidebar {
    background-color: #008000;
    border-right: 1px solid #eee;
}