@charset "utf-8";

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #ff0000;
    background: -moz-linear-gradient(top, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 50%);
    background: -webkit-linear-gradient(top, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 50%);
    background: linear-gradient(to bottom, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 0%, #ff0000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #ff0000', endColorstr=' #ff0000',GradientType=0 );
}
.btn-primary {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.monthly-header {
    background: #ff0000;
}
.monthly-day-title-wrap {
    background: #ff0000;
}
.sidebar {
    background-color: #ff0000;
    border-right: 1px solid #eee;
}