@charset "utf-8";

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #ff8000;
    background: -moz-linear-gradient(top, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 50%);
    background: -webkit-linear-gradient(top, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 50%);
    background: linear-gradient(to bottom, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 0%, #ff8000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #ff8000', endColorstr=' #ff8000',GradientType=0 );
}
.btn-primary {
    color: #fff;
    background-color: #ff8000;
    border-color: #ff8000;
}
.monthly-header {
    background: #ff8000;
}
.monthly-day-title-wrap {
    background: #ff8000;
}

.sidebar {
    background-color: #ff8000;
    border-right: 1px solid #eee;
}